body{
  margin:0;
}
h1{
  margin:0;
  height:75px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:25px;
  font-family:Arial;
  color:#064884;
}
h4{
  height:20px;
  margin:0;
  padding-left:1px;
  display:flex;
  align-items:center;
  font-size:10px;
  font-family:Arial;
  color:white;
  background-color:#243356;
}
.div_logo_cultura{
  height:50px;
  display:flex;
  align-items:center;
  background-image: linear-gradient(to right, #00bbf0 0%, #5671e0 100%);
  background-repeat:no-repeat;
}
.conteneur_categorie{
  padding-top:20px;
  gap:20px;
  display:flex;
  justify-content:center;
  background-image: linear-gradient(to bottom, #eee 0%, #fff 50%);
  background-repeat:no-repeat;
}
.toto{
  /*display:flex;
  align-items:center;*/
  padding:"5px";
  color:white;
}