body{
  margin:0;
}
h1{
  margin:0;
  height:75px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:25px;
  font-family:Arial;
  color:#064884;
}
h4{
  height:20px;
  margin:0;
  padding-left:1px;
  display:flex;
  align-items:center;
  font-size:10px;
  font-family:Arial;
  color:white;
  background-color:#243356;
}
.div_logo_cultura{
  height:65px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-bottom-right-radius:25px;
  background-image:linear-gradient(to right,#00bbf0 0%,#5671e0 100%);
}
.img_logo_cultura{
  height:30px;
  padding-left:30px;
}
.div_setting{
  display:flex;
  align-items:center;
  padding-right:30px;
  color:white;
  /*background-color:red;*/
}
.span_setting{
  padding-left:5px;
  /*display:inline-block;
  vertical-align:4px;*/
  font-size:15px;
  /*background-color:yellow;*/
}
.div_user{
  padding-top:20px;
  display:flex;
  padding-left:5px;
  /*background-color:green;*/
}
.div_text_user{
  padding-left:5px;
  font-size:15px;
  /*background-color:blueviolet;*/
}
.span_text_decoonnexin{
  font-size:14px;
}
.conteneur_categorie{
  padding-top:20px;
  gap:20px;
  display:flex;
  justify-content:center;
  background-image: linear-gradient(to bottom, #eee 0%, #fff 50%);
}